body {
    margin: 0;
    padding: 0;
}

body>* {
    border: 1px solid red;
}



/*==========Start exercice==========*/
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header header' 
        'nav body' 
        'nav footer';
}

header { 
    grid-area: header;
}

section {
    grid-area: nav;
    
}

main {
    grid-area: body;
}

footer {
    grid-area: footer;
}





/*
@media (min-width: 40em) {
    body {
        grid-template-columns: 10em 1fr;
        grid-template-rows: auto 1fr auto;

    }

    header {
        grid-column: span 2;
    }

    footer {
        grid-column: span 2;
    }
}
*/